<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="calendarEvent">
      <h2 data-cy="calendarEventDetailsHeading"><span jhiTranslate="familyTimeApp.calendarEvent.detail.title">Calendar Event</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ calendarEvent.id }}</span>
        </dd>
        <dt><span jhiTranslate="familyTimeApp.calendarEvent.descriptor">Descriptor</span></dt>
        <dd>
          <span>{{ calendarEvent.descriptor }}</span>
        </dd>
        <dt><span jhiTranslate="familyTimeApp.calendarEvent.startDate">Start Date</span></dt>
        <dd>
          <span>{{ calendarEvent.startDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="familyTimeApp.calendarEvent.endDate">End Date</span></dt>
        <dd>
          <span>{{ calendarEvent.endDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="familyTimeApp.calendarEvent.isExactly">Is Exactly</span></dt>
        <dd>
          <span>{{ calendarEvent.isExactly }}</span>
        </dd>
        <dt><span jhiTranslate="familyTimeApp.calendarEvent.family">Family</span></dt>
        <dd>
          <div *ngIf="calendarEvent.family">
            <a [routerLink]="['/family', calendarEvent.family?.id, 'view']">{{ calendarEvent.family?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/calendar-event', calendarEvent.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
